.main-menu {
    background-color: #2f8cd4;
}

.main-menu ul li a {
    color: white;
}

.hr-heading {
    border-bottom: 3px solid #2f8cd4;
}

.special {
    text-align: center;
    background-color: #2d9e5f;
    margin: 0;
    color: white;
}

.product {
    background-color: #f4c45f;
}

.searchbutton {
    background-color: #c95c06;
    color: #fff;
}

table th,
table td {
    text-align: center;
    border: 1px solid #ccc;
}

.shipping-form fieldset {
    border: 2px solid #825098;
}

.shipping-form fieldset legend {
    background-color: #825098;
    color: #fff;
}

.shipping-form button {
    background-color: #825098;
    color: white;

}

table th {
    background-color: #2d9e5f;
    color: white;
}

td ul {

    margin-left: 20px;
    text-align: left;
}

.main-table {
    border: 2px solid #2d9e5f;
    width: 824px;
}

table {
    border: 2px solid #2d9e5f;

}

.other-table tr th{
    background-color: #e04238;

}
.other-table{
    border: 2px solid  #e04238;
    width: 430px;
}
.cart {
    color: #fff;
    background-color: #2d9e5f;
}
.other-fiedset{

}
.other-fiedset fieldset {
    border: 2px solid #5f686b;
}

.other-fiedset fieldset legend {
    background-color: #5f686b;
    color: #fff;
}
.Mailprocess{
    background-color: #273544;
    color: #fff;
}

.footer{
    background-color: #273544;
    color: #fff;
}
